{% extends 'dash.html' %}
<html>
{% block head %}
<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script>
    function myFunction1() {
            //document.getElementById(id).className = cName;

            document.getElementById('collapse1').setAttribute( "class", "collapse show nav flex-column ms-1");

        }
</script>
 <title>Analytics</title>
</head>
 {% endblock %}

 {% block body %}
<body onload="myFunction1()">
    <br>
    <h1>Analytics1:</h1>
     <br>
    <img src="/analytics.png"
         alt="random points as png"

    >

</body>

  {% endblock %}
</html>