<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %} {% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

        <!--Code for displaying Active class-->
        <script>
        jQuery(function($) {
            var path = window.location.href;
            // because the 'href' property of the DOM element is the absolute path
            $('ul a').each(function() {
                if(this.href === path){
                    $(this).addClass('active');
                } else if(this.href !== path){
                    $(this).addClass('inactive');
                }
            });
        });
        </script>
        </head>

         <body>

            <nav class="navbar navbar-expand d-flex flex-column py-1 text-bg-dark" style="width:250px; height:190vh">
                <br>
                <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" style =" width:120px; height:120px"></a>
                 <ul class="navbar-nav d-flex flex-column" id="sidebar">
                     <li class="nav-item w-100">
                         <a href="/home" class="nav-link pl-5"> Homepage</a>
                    </li>
                    <li class="nav-item w-100">
                        <a href="/aml" class="nav-link pl-4"> AML</a>
                    </li>
                    <li class="nav-item w-100">
                        <a href="/rules" class="nav-link pl-4"> Rules</a>
                    </li>
                    <li class="nav-item w-100">
                        <a href="#collapse1" data-bs-toggle="collapse" class="nav-link pl-4 dropdown-toggle"> Analytics </a>
                        <ul class="collapse nav flex-column ms-1" id="collapse1" data-bs-parent="#sidebar">
                            <li class="nav-item w-100">
                                <a href="/analytics1" class="nav-link pl-4 "> Analytics1 </a>
                            </li>
                            <li class="nav-item w-100">
                                <a href="/analytics2" class="nav-link pl-4"> Analytics2 </a>
                            </li>
                            <li class="nav-item w-100">
                                <a href="/analytics3" class="nav-link pl-4"> Analytics3 </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item w-100">
                        <a href="/reports" class="nav-link pl-4"> Reports </a>
                    </li>
                    <li class="nav-item w-100">
                        <a href="#" class="nav-link pl-4"> Admin </a>
                    </li>
                    <li class="nav-item w-100">
                        <a href="#" class="nav-link pl-4"> Help </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link pl-4" href="#"> Sign-out </a>
                    </li>
                    </ul>
                    </nav>
                    <div class="container">
                        <header class="py-2 text-bg-dark" style="width:100%" >
                            <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                         <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>

                     </header>
                        {% block body %} {% endblock %}
                    </div>
         </body>
      </html>


            <!-- <div class="dropdown">
                         <a href="#" class="d-flex align-items-start col-lg-2 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle bd-highlight" data-bs-toggle="dropdown" aria-expanded="false">
                             <img src="/up/Screenshot 2022-09-23 at 15-43-27 Logo Maker & Brand Builder.png" width="90px" height="40">
                        </a>
                        <header class="py-2 text-bg-dark" style="width:100%" >
                                    <form class="w-70 " role="search">
                                        <input type="search" class="form-control me-2" placeholder="Search..." aria-label="Search">
                                    </form>
                                    <div class="flex-shrink-0 dropdown ">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"></a>
                                <ul class="dropdown-menu text-small shadow">
                                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                                </ul>
                                </div>
                        </header>
                        <ul class="dropdown-menu text-small shadow">
                             <li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>
                             <li><a class="dropdown-item" href="#">Inventory</a></li>
                             <li><a class="dropdown-item" href="#">Customers</a></li>
                             <li><a class="dropdown-item" href="#">Products</a></li>
                             <li><hr class="dropdown-divider"></li>
                             <li><a class="dropdown-item" href="#">Reports</a></li>
                       </ul>
                   </div>
                   -->