{% extends 'base.html' %}

{% block head %}
<title> Gallery </title>


{% endblock %}


{% block body %}

<div class="content">
    <h3>DA GALLERY</h3>

    <h5>Post your photos here:</h5>
    <hr>
<div class="container">
     <form action = "/upload" method="POST" enctype = "multipart/form-data">

         <div class="mb-3">
            <input type="file" name="files[]" multiple="true" autocomplete="off" required />
         </div>
         <input type="submit" value="Submit">
    </form>

    <div class="images-section">
      {% for image in images %}
        <a href="{{ url_for('serve_image', filename=image) }}" target="_blank">
          <img src="{{ url_for('serve_image', filename=image) }}"/>
        </a>
      {% endfor %}
    </div>
  </div>
 </div>



{% endblock %}