{% extends 'base.html' %}

{% block head %}<title> Terms and Conditions </title> {% endblock %}

{% block body %}
<br>
<h1>Terms and Conditions</h1>
<br>
 <link href="cover.css" rel="stylesheet">
  </head>

    <p>This website includes comments sections, blogs and other interactive features that allow interaction between users and between users and Nilores. We call the information posted by or contributed by users "User Generated Content" or "UGC".

If you wish to view or participate by way of UGC then you must comply with specific rules and guidelines. We also recommend that you read our Comments Guidelines which provide further guidance in relation to commenting on website.

You are responsible for all the content of any of your UGC that you or we publish. You are financially responsible to us for any claim against us by any third party that your UGC is not in accordance with the UGC policy.
</p>
<p>
You further agree that you will:
</p>
<p>* Only publish UGC that is your original content and will not infringe the copyright or other rights of any third party when publishing UGC. Not post, link to or otherwise publish any UGC containing any form of advertising or promotion for goods and services or any spam or other form of unsolicited communication.
</p>
<p>* Not post, link to or otherwise publish any UGC with recommendations to buy or not buy a particular share or other investment or which contain confidential information of another party or which otherwise have the purpose of affecting the price or value of any share or other investment.
</p>
<p>* Not post, link to or otherwise publish any UGC that is threatening, offensive, libellous, indecent or otherwise unlawful.
</p>
<p>* Not post comments that are discriminatory in nature, for example, comments which make attacks on the grounds of race, religion, sex, gender, sexual orientation, disability or age.
</p>
<p>* Respectfully challenge different points of view but not personally attack other commentators.
</p>
<p>* Not disguise the origin of any UGC and not impersonate any person or entity (including Forum guests or hosts) or misrepresent any connection with any person or entity.
</p>
<p>* Not post or otherwise publish any UGC unrelated to the Forum or the Forum's topic.
</p>
<p>* Not post or transmit any UGC that contains software viruses, files or code designed to interrupt, destroy or limit the functionality of this website or any computer software or equipment.
</p>
<p>* Not collect or store other users personal data.
</p>
<p>* Not restrict or inhibit any other user from using the Forums.</p>

{% endblock %}